#body{
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#pilau, #title {
    font: bolder;
}
#pilau {
    font-size: 40px;
    color: red;
}
#title {
    font-size: 34px;
    color: black;
}

.Ingredients
.Directions
.Directions2 {
    background-color: aqua;
    font-style: verdana;
}
.Ingredients {
    color: blue;
}

.Directions {
    color: green;
}

.Directions2 {
    color: purple;
}